.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border: 1px solid #dfdfdf;
  margin-left: 10%;
  border-radius: 5px;
  background: #fff;
}

.input-style {
  width: 99%;
}

.login {
  color: black;
  display: flex;
  justify-content: center;
}

.buttonBlue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin-left: 45%;
  width: 70px;
}

.formInputs .field {
  color: black;
}
.pageTwo {
  background-color: whitesmoke;
  color: black;
}
.lastInput {
  width: 99%;
  height: 200px;
}
