.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.formInputs {
  border-width: 50px;
}

.input-style {
  width: 99%;
}

.login {
  color: black;
  display: flex;
  justify-content: center;
}

.buttonBlue {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-left: 40%;
  padding: 7px;
}

.formInputs .field {
  color: black;
}
.pageTwo {
  background-color: black;
  color: aliceblue;
}
.lastInput {
  width: 99%;
  height: 200px;
}
