/* Create two equal columns that floats next to each other */
.imageColumn {
  float: left;
  width: 45%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.textColumn {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  clear: both;
}

.imageStyle {
  object-fit: cover;
  height: 100%;
  width: 450px;
}

.home {
  margin: 0 2rem 0 2rem;
  color: white;
}
