.theLinks {
  color: white;
  flex-direction: column;
  flex: 50%;
  padding: 5%;
  text-align: center;
}

.theLinks .rightside {
  float: left;
  color: white;
}

.theLinks .leftside {
  float: right;
  color: white;
}
